.half-article

.half-article__body
  background-color: $white
  +horizontal-padding(5)

.half-article__heading
  +heading__subtitle
  color: $black

.half-article__content
  +content
  color: $black
  text-transform: uppercase
  +font-size(delta)

.half-article__image
  +margin-right(5)
  +margin-left(5)

  +at-breakpoint(lap)
    +margin-left(0)
