.half-article

.half-article__body
  background-color: $white

.half-article__heading
  +heading__subtitle
  color: $black

.half-article__content
  +content
  color: $black
  text-transform: uppercase
  +font-size(delta)
