.divider
  font-size: 12px
  line-height: 20px
  border-radius: 5px
  width: 100px
  height: 10px
  display: block

.divider--white
  @extend .divider
  background-color: $white

.divider--black
  @extend .divider
  background-color: $black

.divider--blue
  @extend .divider
  background-color: $blue
