.first-article
  background-repeat: no-repeat
  background-position: center center
  background-color: $light-bg-color
  background-size: cover
  position: relative
  +padding(12)
  +margin-bottom(2)

.first-article--no-border
  @extend .first-article
  border-bottom: none

.first-article__body
  width: 100%
  +padding-top(1.5)
  +padding-bottom(3)
  +horizontal-padding(2)
  color: $black

  +at-breakpoint(lap)
    +horizontal-padding(5)

a.first-article__body__inner, .first-article__body__inner
  text-decoration: none
  color: inherit

  &:hover
    .first-article__heading,
    .first-article__data,
    .first-article__button,
    .first-article__content
      opacity: .8

  &.is-bigger
    +padding-bottom(8)

.first-article__heading
  +heading__title
  max-width: 800px
  transition: opacity 0.3s $material-ease

.first-article__data
  +heading__data
  transition: opacity 0.5s $material-ease

.first-article__button
  +content__button
  transition: opacity 0.3s $material-ease

.first-article__border
  height: 3rem
  width: 100%
  background-color: rgba($black, 0.8)
  +horizontal-padding(2)
  +body-font-family
  line-height: 2.8
  +font-size(smallprint)
  text-transform: uppercase

  a
    text-decoration: none

    p
      +vertical-padding(0.5)

      &:before
        @extend .icon--arrow-left:before
        +margin-right(1)
        vertical-align: sub

  +at-breakpoint(lap)
    +horizontal-padding(5)

.first-article__content
  +margin-bottom(1)
  +content
  color: $black
  +font-size(delta)
  transition: opacity 0.3s $material-ease

  +at-breakpoint(lap)
    +margin-bottom(0)
