.half-coloured
  background-color: $blue
  color: white

.half-coloured__body
  +padding(5)

.half-coloured__heading
  +heading__subtitle
  font-weight: 700

.half-coloured__content
  +content
  +font-size(delta)
