a.logo
  margin-top: 40px
  background-color: transparent
  text-align: left
  +position(absolute)
  top: 0rem
  left: 0
  width: 100%
  border-bottom: none
  z-index: 5
  transition: all .5s $material-ease
  +horizontal-padding(2)
  text-decoration: none

  +at-breakpoint(lap)
    +horizontal-padding(5)

  &.is-smaller
    background-color: white
    border-bottom: 1px solid $blue

  span.logo__logo
    background-repeat: no-repeat
    background-position: center center
    background-size: contain
    background-image: url("/dist/images/engie.png")
    height: 44px
    width: 120px
    transition: all .5s $material-ease
    +vertical-margin(1)

    &.is-smaller
      background-image: url("/dist/images/header-logo-blu.png")
      height: 34px
      width: 110px

.logo__text
  color: $white
  +heading__title

  span > img
    height: 35px
    position: relative
    top: 0.45rem

    +at-breakpoint(lap)
      height: 50px
      top: 0.75rem

  span
    color: $blue
    +font-size(tera)
    font-weight: 700

.logo__powered
  +heading__title
  +font-size(epsilon)
  color: white

  span.text
    vertical-align: super

  span > img
    height: 35px

.logo--news
  @extend .logo

  img
    max-width: 90%

  &.is-smaller
    img
      max-width: 75%

  +at-breakpoint(lap)
    img
      max-width: 100%

    &.is-smaller
      img
        max-width: 90%
