.three-article
  +horizontal-padding(2)

  +at-breakpoint(lap)
    +horizontal-padding(5)

.three-article--grid
  +margin-bottom(5)

  &:last-child
    +margin-bottom(0)

  +at-breakpoint(lap)
    +margin-bottom(0)

a.three-article__body
  text-decoration: none
  color: inherit

  &:hover
    .three-article__heading,
    .three-article__data,
    .three-article__content,
    .three-article__button,
    .three-article__image
      opacity: .8

.three-article__body__inner

.three-article__image
  height: 15rem

.three-article__heading
  +heading__subtitle
  +font-size(beta)
  font-weight: 700

.three-article__content
  +content
  +font-size(delta)

.three-article__date
  +heading__data
  transition: opacity 0.5s $material-ease
  +font-size(delta)
  +margin-top(2)

.three-article__button
  transition: opacity 0.3s $material-ease
  +content__button
