.two-article
  +horizontal-padding(2)
  +vertical-padding(5)

  +at-breakpoint(lap)
    +padding(5)

.two-article--grid
  &:first-child
    +margin-bottom(5)

  +at-breakpoint(lap)
    &:first-child
      +margin-bottom(0)

a.two-article__body
  text-decoration: none
  color: inherit

  &:hover
    .two-article__heading,
    .two-article__data,
    .two-article__content,
    .two-article__button,
    .two-article__image
      opacity: .8

.two-article__image

  +at-breakpoint(lap)
    height: 8rem

.two-article__body__inner

  //+at-breakpoint(lap)
    //+padding(3)
    //+padding-bottom(0)

.two-article__heading
  transition: opacity 0.3s $material-ease
  +heading__subtitle
  font-weight: 700
  +font-size(beta)

.two-article__content
  transition: opacity 0.3s $material-ease
  +content
  +font-size(delta)

.two-article__data
  +heading__data
  transition: opacity 0.5s $material-ease
  +font-size(delta)
  +margin-top(2)

.two-article__button
  transition: opacity 0.3s $material-ease
  +content__button
