= partial "partials/first-article"
= partial "partials/article-grid"
/= partial "partials/50-article"
/= partial "partials/half-coloured"
/= partial "partials/two-article"
/= partial "partials/three"
